<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">





<div class="nav-side-menu">
    <div class="brand">Safe Conduct v1.0</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
               
                
                
                <li>
                    <a href="/views/basic.ejs">
                        <i class="fas fa-user-tie fa-lg"></i> basic
                    </a>
                </li>
                
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-lg"></i> social
                    </a>
                </li>
                
                <li>
                 <a href="/views/template.ejs">
                 <i class="fas fa-inbox fa-lg"></i> template
                 </a>
                 </li>
                
                 <li>
                    <a href="#">
                        <i class="fas fa-globe fa-lg"></i> Information
                    </a>
                </li>
               
            </ul>
     </div>
</div>

<div class="container">
    <h2 class="">&nbsp</h2>
	<div class="row ">
		<div class="col-12 col-md-8 col-lg-6 pb-5">