<div class="wrapper">
    <div class="sidebar">
        
        <div class="profile">
                <img src="https://drive.google.com/file/d/1ch-mS0LMtBZi95nyYSjk8b8a07wktPvU/view?usp=sharing" alt="profile_picture">
               

               <h3>Generate Email</h3>
               <h3>signature</h3>
            </div>

<ul>
    <li>
        <a href="/views/basic.ejs" class="active">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="item">Home</span>
        </a>
    </li>
    <li>
        <a href="/views/basic.ejs">
            <span class="icon"><i class="fas fa-user"></i></span>
            <span class="item">basic</span>
        </a>
    </li>
    
    <li>
    <a href="/views/social.ejs">
        <span class="icon"><i class="fas fa-user-friends"></i></span>
        <span class="item">social</span>
    </a>
</li>

<li>
    <a href="/views/template.ejs">
        <span class="icon"><i class="fas fa-database"></i></span>
        <span class="item">template</span>
    </a>
</li>

<li>
    <a href="#">
        <span class="icon"><i class="fas fa-cog"></i></span>
        <span class="item">Settings</span>
    </a>
</li>
</ul>
</div>

</div>
