<!------------------ Card Effect Style : Demo - 2 --------------->
<div id="code" class="container">
	<h3 class="text-center">Card Effect Style : Demo - 2</h3>
	<div class="row my-5 justify-content-center">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="email-signature2">
                <div class="signature-details">
                    <h2 id="name" class="title">Jhon doe</h2>
                    <span id="job" class="post">web developer / Founder</span>
                </div>
                <ul class="signature-content">
                    <li id="number">0987654321 <span class="fa fa-mobile fa-lg"></span></li>
                    <li id="email">mail@example.com <span class="fa fa-envelope"></span></li>
                    <li id="location">#2021, Lorem Ipsum <span class="fa fa-map-marker fa-lg"></span></li>
                    <li>www.yourwebsite.com <span class="fa fa-globe"></span></li>
                </ul>
                <div class="signature-icon">
                    <i class="fa fa-user"></i>
                </div>
                <ul class="icon">
                    <li><a id="facebook" href=""><i class="fa fa-facebook-f"></i></a></li>
                    <li><a id="twitter" href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a id="instagram" href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a id="linkedin" href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr> 
