<!------------------ Card Effect Style : Demo - 4 --------------->
<div class="container">
	<h3 class="text-center">Card Effect Style : Demo - 4</h3>
	<div class="row my-5 justify-content-center">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
            <div class="email-signature4">
                <div class="signature-img">
                    <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" alt="">
                </div>
                <div class="content">
                    <div class="signature-details">
                        <h3 class="title">Steve Thomas</h3>
                        <span class="post">Web Developer</span>
                    </div>
                    <ul class="signature-content">
                        <li><span class="fa fa-phone"></span> +0987654321</li>
                        <li><span class="fa fa-envelope"></span> mail@example.com</li>
                        <li>www.yourwebsite.com</li>
                    </ul>
                    <ul class="icon">
                        <li><a href="" class="fa fa-facebook"></a></li>
                        <li><a href="" class="fa fa-twitter"></a></li>
                        <li><a href="" class="fa fa-linkedin"></a></li>
                        <li><a href="" class="fa fa-google-plus"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
