<!------------------ Card Effect Style : Demo - 3 --------------->
<div class="container">
	<h3 class="text-center">Card Effect Style : Demo - 3</h3>
	<div class="row my-5 justify-content-center">
        <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 ">
            <div class="email-signature3">
                <div class="signature-img">
                    <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" alt="">
                </div>
                <div class="signature-details">
                    <h2 class="title">Jhon Doe</h2>
                    <span class="post">web developer</span>
                </div>
                <ul class="signature-content">
                    <li><span class="fa fa-mobile fa-lg"></span> 0987654321</li>
                    <li><span class="fa fa-map-marker fa-lg"></span> #2021, Lorem Ipsum</li>
                    <li><span class="fa fa-envelope"></span> mail@example.com</li>
                </ul>
                <ul class="icon">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                </ul>
                <span class="signature-website">www.yourwebsite.com</span>
            </div>
        </div>
    </div>
</div>
<hr>
