<html>
<head>
<meta charset="UTF-8">
<meta name="viexport" content="widh=device-widh,initial-scale=1.0">
<title>signature</title>
<style>
 

@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
   background-color: #f5e5e5;
}

h1 {
  text-align: center;
  color: #009472;
  font-family: Corbel Arial;
  margin-top: 40px; 
}

fieldset
{
  background-color: transparent;
  max-width:300px;
  padding:16px;	
  border: dotted solid;
  border-color: #009472;
  border-width: 1px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
   margin: 0 auto;

}

label {
  width: 150px;
  text-align: right;
}

input {
   margin: 2px;
}

h1, label, legend {
   font-family: Raleway;

}

</style>
</head>
<body>
      

   <h1 class="title">Email signature generator</h1>
   </br>
   <fieldset>
		<legend>Your Information</legend>
      <label for ="nm">Name </label>
			<input type = "text" name = "nm" id = "nm" required placeholder="Your pretty name goes here"><br/>
      <label for ="pos">work </label>
			<input type = "text" name = "pos" id = "pos" required placeholder="What you do"><br/>
		<label for="tel">Info 1 </label>
         <input type="text" name="tl" id = "tl" required placeholder="Tel: (+xx) xxx xxx xxx"> <br>
		<label for="mobile">Info 2 </label>
         <input type="text" name="mb" id = "mb" required placeholder="Mobile: (+xx) xxx xxx xxx"> <br>
      <div>
            <label>Profile Photo:</label>
            
            <input type="file" name="" id="fileId" onchange="imageUploaded()">
      </div>      
	</fieldset> 
   </br></br>
     <button onclick="reviewFunction()">Try it</button>
    
</br>
</br>

  <div id="htmlcode"><font style="font-family:'Century Gothic', Arial, sans-serif; font-size: 9pt; color:#333;line-height:0.5; text-indent: 10px;">
      <table width="80" border="0" cellspacing="0" cellpadding="0" style="float:left;">
         <tr>
            <td width="50" rowspan="2" style="border-right: 1px solid #bcbcbc;">
               <img src="" id="pic" width="80">
            </td>
      </table>
  <p id="name" style="color: #009472; font-size:120%; font-weight:bolder; line-height: 0.5;">Your name </p>
  <p id="position">work </p>
  <p id="tel"> Tel: (+xxx) xx xxx xxx<p>
  <p id="mobile">Mobile: (+xxx) xx xxx xxx</p></font>  
 <br>
</div>
</br>



<button onclick="getFunction()">Get my code</button>
<button id="myBtn">go</button>
<textarea id="demo" >omar</textarea>
<button onclick="myFunction()">copy</button>
<textarea id="picture" ></textarea>
<button onclick="downloadcode()">download</button>
<script>
     
   function reviewFunction(){
document.getElementById('name').innerHTML = nm.value;
document.getElementById('position').innerHTML = pos.value;
document.getElementById('tel').innerHTML = tl.value;
document.getElementById('mobile').innerHTML = mb.value;
   }
 
function downloadcode(){
   
const  data =document.getElementById("demo").value ;


};




   let base64String = "";
  
function imageUploaded() {
    var file = document.querySelector(
        'input[type=file]')['files'][0];
  
    var reader = new FileReader();
    console.log("next");
      
    reader.onload = function () {
        base64String = reader.result
        imageBase64Stringsep = base64String;
  
        // alert(imageBase64Stringsep);
        console.log(base64String);
        document.getElementById("pic").src= base64String ;
    }
    reader.readAsDataURL(file);

  
  
   }

 /* 
function displayString() {
    console.log("Base64String about to be printed");
   // alert(base64String);
}
*/ 


Output:
   
   document.getElementById("myBtn").addEventListener("click", function() {
      var e=document.getElementById("htmlcode");
      var content=e.innerHTML;
      document.getElementById("demo").innerHTML = content;

    
      
   });
   
    function myFunction() {
  var copyText = document.getElementById("demo");
  copyText.select();
  document.execCommand("copy");
   };
  
   
   
   /*
      function getFunction(){
         var e=document.getElementById("htmlcode");
         var content=e.innerHTML;
         alert(content); 
          }
 */ 

</script>

</body>
</html>